<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n
			</Pattern>
		</layout>
	</appender>

	<property name="ROCKET_LOGS" value="${LAUNCH_DIR}/rocketlog" />
	<appender name="FILE-THREAD" class="ch.qos.logback.classic.sift.SiftingAppender">

		<!-- This is MDC value -->
		<!-- We will assign a value to 'rocketLog' via Java code -->
		<discriminator>
			<key>rocketLog</key>
			<defaultValue>head0</defaultValue>
		</discriminator>

		<sift>
		  <!-- A standard RollingFileAppender, the log file is based on 'rocketLog' at runtime  -->
		  <appender name="FILE-${rocketLog}"
			class="ch.qos.logback.core.rolling.RollingFileAppender">
			<file>${ROCKET_LOGS}/${rocketLog}.log</file>

			<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
				<Pattern>
					%d{yyyy-MM-dd HH:mm:ss} %mdc [%thread] %level %logger{35} - %msg%n
				</Pattern>
			</encoder>

			<rollingPolicy
				class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
				<FileNamePattern>${ROCKET_LOGS}/${rocketLog}.%i.log.zip
				</FileNamePattern>
				<MinIndex>1</MinIndex>
				<MaxIndex>10</MaxIndex>
			</rollingPolicy>

			<triggeringPolicy
				class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
				<MaxFileSize>10MB</MaxFileSize>
			</triggeringPolicy>

		  </appender>

		</sift>
	</appender>

	<logger name="gov.ca.cwds" level="info" additivity="false">
		<appender-ref ref="FILE-THREAD" />
		<appender-ref ref="STDOUT" />
	</logger>
	
	<root level="warn">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
